.post-title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
}

.post-title .editors-mark  {
    color: green;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.editors-mark span {
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
    margin-left: 10px;
}

.post-title h1 {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 36px;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.t-5 {
    top: 5px;
}

.l-5 {
    left: 5px;
}

.color-green {
    color: green;
}

.d-block {
    display: block;
}

.w-100 {
    width: 100%;
}

.h-75 {
    height: 75px;
}

.mb-4 {
    margin-bottom: 16px;
}

.mt-6 {
    margin-top: 64px;
}
